body{
    background-color: #3D8361;
    color: #D6CDA4;
    font-family: monospace;
}

a{
    text-decoration: none;
    color: #EEF2E6;
}

.title{
    background-color: #1C6758;
    font-size: 50px;
    font-family: Luminari, fantasy , monospace;
    text-align: center;
    font-variant: small-caps;
    outline-style: solid;
    outline-width: 5px;
    outline-color: #D6CDA4;
}

.list{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;

    outline-style: solid;
    outline-width: 15px;
    outline-color: #D6CDA4;

    background-color: #1C6758;
}

#recipie-list{
    font-size: 28px;
    /*font-variant: small-caps;*/

    padding-top: 50px;
    padding-left: 80px;
}

.unlisted{
    color: #EEF2E6;

    list-style-type: disc;
    font-size: 24px;
    line-height: 2.5;

    padding-left: 150px;
}

.food-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#description{
    margin-top: 15px;
}

#description, #ingredients, #steps{
    width: 650px;;
    word-wrap: break-word;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C6758;
    
    outline-style:none;
    outline-width: 5px;
    outline-color: #D6CDA4;

    padding-left: 25px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 1px;

    border-radius: 13px;
    background: linear-gradient(145deg, #195d4f, #1e6e5e);
    box-shadow:  7px 7px 4px #113d34,
                 -7px -7px 4px #27917c;
}

ul ul li{
    list-style-type: square;

}

.return{
    margin-top: 55px;
}

